/******************************************************************
STYLESHEET: ANIMATIONS

******************************************************************/

@keyframes flip {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes press {
    0% {
        transform: scale(1);
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
    }
    70% {
        transform: scale(0.8);
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
    }
}
