/******************************************************************
STYLESHEET: ANIMATIONS

******************************************************************/

@keyframes discard {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0) translateX(0);
    }
    70% {
        transform: scale(1.2) rotate(-15deg) translateX(-100px);
    }
    100% {
        transform: scale(1) rotate(0) translateX(0);
    }
}

@keyframes flip {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes press {
    0% {
        transform: scale(1);
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
    }
    70% {
        transform: scale(0.8);
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
    }
}

@keyframes fade-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        transform: translateX(50px);
        opacity: 0.3;
    }
    100% {
        transform: translateX(70px);
        opacity: 0;
    }
}
