/******************************************************************
STYLESHEET: CARD

******************************************************************/

.card {
    color: $c-white;
    text-align: center;
    width: 18em;
    margin: 10em auto 5em;
    border-radius: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    position: relative;

    @include medium {
        width: 20em;
        margin-top: 13em;
    }

    &:hover {
        box-shadow: 1px 1px 70px rgba(0, 0, 0, 0.2);

        &:before {
            box-shadow: 1px 1px 70px rgba(0, 0, 0, 0.2);
        }
    }

    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 100px;
        height: 100px;
        padding: 1em;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: 50%;
        margin-left: -50px;
        background-color: transparent;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.2);
        transition: all 0.2s;
        z-index: -1;
    }

    &__inner {
        padding: 2em 0 3em;
        transition: all 0.2s;
    }

    &__logo {
        width: 100%;
        height: 100%;
        background-image: url('../img/mumbl-logo.svg');
        background-size: cover;
        background-position: center center;

        &-wrapper {
            transition: all 0.2s;
            width: 100px;
            height: 100px;
            padding: 1em;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            left: 50%;
            margin-left: -50px;
            z-index: 10;
        }
    }

    &__heading {
        padding: 0.5em 0;
        font-size: 3rem;
        font-weight: 400;
    }

    &__icon {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-position: center center;
        background-size: cover;

        &-wrapper {
            display: block;
            width: 100%;
            padding: 1.1em 0;
            transition: all 0.2s;
        }
    }

    &.flip {
        animation: flip 0.3s cubic-bezier(0, 1.11, 1, 1);
    }

    &.rotate {
        animation: rotate 0.3s cubic-bezier(0, 1.11, 1, 1);
    }

    &.discard {
        animation: discard 0.3s cubic-bezier(0, 1.11, 1, 1);
    }
}