/******************************************************************
STYLESHEET: CARD

******************************************************************/

.card {
    color: $c-white;
    background-color: $c2-main;
    text-align: center;
    width: 50%;
    margin: 20em auto;
    padding: 2em;
}